<div id="header">
		<div id="connect">
			{{#if session.login}}
			Utilisateur : <b>{{session.login}}</b> <a href="/deconnect">Déconnexion</a>
			{{else}}
			<a href="/connect">Connexion</a>
			{{/if}}
		</div>
		<div id="entete">
		<div id="logo">
			{{#if session.login}}
			<img src="/image/smile.jpg" id= "imLogo" alt="Logo bêtisier IUT" title="Logo bêtisier IUT Limousin" />
			{{else}}
			<img src="/image/lebetisier.gif" id= "imLogo" alt="Logo bêtisier IUT" title="Logo bêtisier IUT Limousin" />
			{{/if}}
		</div>
			
		
			
			<div id="titre"> Le bêtisier de l'IUT.<br />Partagez les meilleures perles !!! </div>
		</div>
</div>		


