
<footer class="page-footer">
    <div class="row">
        <div class="col s11 offset-s1">
            <div class="row">
                <div class="col s10 offset-s2">
                    <div class="row valign-wrapper">
                        <div class="col s6 offset-s1 valign center">
                            <h6 class="white-text">
                                Le bêtisier de l'IUT à votre service, depuis janvier 2015 (en NodeJS).
                                Par Guillaume Chanson et Benoît Leroy, du groupe G4B.
                            </h6>
                        </div>
                        <div class="col s4 valign">
                            <img src="/image/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" class="responsive-img" width="125" height="75" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s11 offset-s1 center">
                    <a class="grey-text text-lighten-4">&copy; 2014 - 2015 IUT du Limousin. - MIT License</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="hiddendiv common"></div>