{{> enTete}}
{{> menu}}
<h1>Ajouter une ville</h1>


<form action="#" method="post">
    <label for="ville">Nom :</label>
    <input id="ville" type="text" name="vil_nom" maxlength="25" placeholder="St-Germain-les-Flots, ..">

    <button type="submit">Valider</button>
</form>