{{> enTete}}
{{> menu}}	
<h1>Ajouter un salarié</h1>

{{#if listeFonction}}
	<form action="#" method="POST">
		<div>
			<label for="telprof">Téléphone professionnel </label>
			<input type="text" name="telprof" required/>
		</div>
		<div>
			<label for="fonction">Fonction </label>
			<select name="fonction">
			{{#each listeFonction}} <!--  parcours de listeVille -->
				<option value="{{this.fon_num}}">{{this.fon_libelle}}</option>
			{{/each}}
			</select>
		</div>
		<input type="submit" value="Valider"/>
	</form>
{{else}}
	<img src="/image/valid.png"/>
	<span>Le salarié a été ajouté !</span>
{{/if}}
