<h2>Connexion effectuée</h2>

<img src="/image/valid.png"/>
<span>Vous avez bien été connecté !</span>

<div>Redirection automatique dans <span id='compteRebours'></span> secondes.</div>

<script type="text/javascript" src='/js/connected.js'></script>