{{> enTete}}
{{> menu}}

<img src="/image/valid.png"/>
<span>Vous avez bien été déconnecté !</span>

<div>Redirection automatique dans <span id='compteRebours'></span> secondes.</div>	

<script type="text/javascript" src='/js/connexion.js'></script>