{{> enTete}}
{{> menu}}

{{#if message}}
    <p>{{ message }}</p>
{{/if}}

{{#if session.login}}
<img class="centreImage" src="/image/logo.gif" alt="Covoiturage IUT" title="Covoiturage IUT Limousin" />
{{else}}
<img class="centreImage" src="/image/logoNonConnecte.gif" alt="Covoiturage IUT" title="Covoiturage IUT Limousin" />
{{/if}}