{{#if nomVille}}

<div class="card blue-grey darken-1">
    <div class="card-content white-text">
        <span class="card-title">La ville a été ajoutée</span>
        <img src='/image/valid.png'/><p>La ville "<b>{{nomVille}}</b>" a été ajoutée.</p>
    </div>
    <div class="card-action">
        <a href="/">Retour à l'accueil</a>
        <a href="/villes">Voir la liste des villes</a>
    </div>
</div>


{{else}}
<form action="#" method="post">
    <div class="input-field">
        <i class="mdi-social-location-city prefix"></i>
        <input id='ville' type='text' maxlength="25" name='vil_nom' class="validate" placeholder="Nom de la ville : St-Germain-les-Flots, .." required/>
    </div>

    <button type="submit" class="waves-effect waves-light lime darken-1 btn-flat">Valider</button>
</form>

{{/if}}