<div class="card-panel lime lighten-2">
    Il y a actuellement {{nbVille}} villes enregistrées
</div>
<table class="centered hoverable responsive-table">
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>

    <tbody>
        {{#each listeVille}} <!--  parcours de listeVille -->
        <tr>
            <td><a href='/ville/{{this.vil_num}}' class="waves-effect waves-drak btn-flat"><span class="lime-text text-darken-2">{{this.vil_nom}}</span></a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>Cliquez sur le numéro d'une ville pour voir les détails, la modifier, ou la supprimer.</p>
